/* Layout */

/* All */
header, #main, footer {
	background: #ffc107;
}

section {
	border-bottom: 1px solid #e5e5e5;
	padding: 30px 20px;
}

section p {
	text-align: justify;
}

/* Navegation */
header li {
	padding: 4px;
}

h1, p, h4 {
	cursor: default;
}

img {
	margin: auto;
	display: block;
}

/* Main */
#main {
	background: #ffc107;
	color: #FFF;
	padding: 0 10px;
}

/* Fifth */
#fifth a {
	text-decoration: none;
	color: #ffc107;
}

#fifth a:hover {
	text-decoration: underline;
}

/* Footer */
footer {
	padding: 10px;
}

footer a {
	margin-left: 5px;
}

