/*nav*/
li {padding: 0 4px 0 4px;}

/*home*/
#home {
	background: #ffc107;
	color: white;
	padding: 0 10px 0 10px;}

/*posts*/
.box {;
	border-bottom: 1px solid #e5e5e5;}

.padds {padding: 30px 20px 30px 20px;}
.padds p {text-align: justify;}
.box img {text-align: center; padding: 10px 0 10px 0;}
a {text-decoration: none;}

/*media queries*/
@media (max-width: 767.98px) {
	img.needsmall {width: 50%;}
}

footer {background: #ffc107; padding: 10px;}
footer a {margin-left: 5px;}

img {position: center;}

.borda {border: 1px solid red;}